<div class="container">
  <h3>Customers:</h3>
  <%= customers %>
</div>
<div class="container">
  <form action="/customers" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" name='first_name'>
    <label for="last_name">Last Name:</label>
    <input type="text" name='last_name'>
    <label for="email">Email:</label>
    <input type="text" name='email'>
    <label for="ip_address">IP Address:</label>
    <input type="text" name='ip_address'>
    <input type="submit">
  </form>
</div>

<div class="container" id="iavContainer">

</div>

<script type="text/javascript">
  $(() => {
    $('.iav').on('click', (event) => {
      event.preventDefault()
      let userID = $(event.target).data('id')
      $.ajax('/customers/' + userID + '/iav-token')
      .done(iavToken => {
        dwolla.configure('sandbox');
        dwolla.iav.start(iavToken, {
          container: 'iavContainer',
          stylesheets: [
            'https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'
          ],
          microDeposits: 'true',
          fallbackToMicroDeposits: 'true'
        }, function(err, res) {
          console.log('Error: ' + JSON.stringify(err) + ' -- Response: ' + JSON.stringify(res));
        })
      })
    })
  })
</script>
